@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #d078c6;

  --font-sans: var(--font-inter);
}

body {
  background: var(--accent-color);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  background-image: url('/backgrounds/Mystery.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Glass {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing:border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.14);
}

.Nav-button-selected{
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);
}